[submodule "hipft"]
	path = hipft
	url = https://github.com/predsci/hipft
[submodule "conflow"]
	path = conflow
	url = https://github.com/predsci/conflow
[submodule "magmap"]
	path = magmap
	url = https://github.com/predsci/magmap
